/*--------------------------------------------------------------
# Header Section cfa671 ffb03b
--------------------------------------------------------------*/

#header {
  position: absolute;
  top: 0px;
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  width: 100%;
  background: rgba(26, 24, 22, 1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar .iconContainer {
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
}
.navbar .iconContainer:hover {
  padding: 10px;
  background-color: #cfa671;
  border-radius: 20px;
}
.navbar li {
  position: relative;
}
.navbar li i {
  color: #cfa671;
  text-align: center;
}
.navbar .iconContainer:hover i {
  color: #fff;
}

.contact-btn {
  background: #cfa671;
  color: #fff;
  border-radius: 50px;
  margin: 0 0 0 20px;
  padding: 10px 25px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
  white-space: nowrap;
}

.contact-btn:hover {
  background: #cfa671;
  color: #fff;
}

@media (max-width: 992px) {
  .contact-btn {
    margin: 0 15px 0 0;
    padding: 8px 20px;
    letter-spacing: 1px;
  }
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(39, 37, 34, 0.8);
  overflow: hidden;
  padding: 0;
}

#hero .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  text-align: center;
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero h2 span {
  color: #cfa671;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
}

#hero .btn-menu,
#hero .btn-book {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 0 10px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  color: #fff;
  border: 2px solid #cfa671;
}

#hero .btn-menu:hover,
#hero .btn-book:hover {
  background: #cfa671;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 50%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}
a {
  text-decoration: none;
}

/*--------------------------------------------------------------
#carousel Section
--------------------------------------------------------------*/

.carousel {
  background-image: url("../../assets/slide/slide-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden;
}

.carousel::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(12, 11, 10, 0.7);
}

.section-title {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}

.section-title h2 span {
  color: #cfa671;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.1;
  color: #5f5950;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

.carousel-indicators {
  margin-top: 200px;
  z-index: 500;
}
.card {
  margin: auto;
  height: 360px;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

.card .box {
  padding: 35px 30px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.4s;
}

.card .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #ffcf88;
}

.card .box h4 {
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin: 10px 0;
  color: #6c665c;
}

.card .box p {
  color: #aaaaaa;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.card .card-image {
  background-size: cover;
  height: 100px;
  transition: all ease-in-out 0.4s;
}

.card:hover .box {
  background: #cfa671;
  padding: 20px 20px 50px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.card:hover .box span,
.card:hover .box h4,
.card:hover .box p {
  color: #fff;
}

.card:hover .card-image {
  transform: scale(1.2);
}

/*--------------------------------------------------------------
# navbar Section
--------------------------------------------------------------*/
#nav {
  position: sticky;
  top: 0px;
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  width: 100%;
  background: rgba(26, 24, 22, 1);
}

#nav .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
}

#nav .logo h1 a,
#nav a {
  color: #fff;
  text-decoration: none;
}
#nav li a:hover,
#nav .logo h1 a {
  color: #cfa671;
}

#nav .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# filter button
--------------------------------------------------------------*/

.filter-button-group {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  margin: 10px 15px;
  display: inline-block;
}

.filter-button-group button {
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  background: #fff;
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
}

.filter-button-group button.active {
  background: #cfa671;
  color: #fff;
  box-shadow: 2px 20px 45px 5px rgba(0, 0, 0, 0.2);
}

/*--------------------------------------------------------------
#Deytails recette
--------------------------------------------------------------*/
.recette-img {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  border: 4px solid #fff;
  overflow: hidden;
  margin-bottom: 20px;
}
.recette-img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
  transition: all ease-in-out 0.4s;
}
.recette-img img:hover {
  transform: scale(1.2);
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.userInfo h5 {
  font-size: 16px;
  color: #6c665c;
  letter-spacing: 1.1;
  font-weight: 500;
}

.userInfo i {
  color: #cfa671;
}

.etape {
  padding: 10px 50px;
}
.ingredient {
  padding: 10px 50px;
}
.ingredient h1,
.etape h1 {
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
  margin-bottom: 30px;
}

.etape-item {
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
}

.etape .etape-item {
  border-left: 3px solid #cfa671;
}

.etape-item div {
  min-width: 25px;
  height: 25px;
  background-color: #fff;
  border: 2px solid #5f5950;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-left: 15px;
}
.etape-item div span {
  color: #5f5950;
  font-size: 12px;
  font-weight: 600;
}

.etape-item h5 {
  font-size: 14px;
  color: #000000aa;
  letter-spacing: 1.1;
  font-weight: 500;
  line-height: 25px;
  margin-left: 15px;
}

.recette-info h1 {
  font-size: 50px;
  font-weight: 700;
  color: #cfa671;
  margin-bottom: 30px;
}
.recette-info p {
  font-size: 14px;
  color: #000000aa;
  letter-spacing: 1.1;
  font-weight: 500;
  line-height: 25px;
}

.recette-time {
  display: flex;
}
.recette-time div {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.1;
  color: #000;
  margin: 0 10px;
}
.recette-time div span {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.1;
  color: #6c665c;
}

.etape .recette-calorie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 8px 10px;
  max-width: 400px;
  border-radius: 0.2rem;
  background-color: #cfa671;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.1;
  font-weight: 500;
}

.gallery {
  margin-bottom: 20px;
}
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/* #################################### */

.header-img {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.header-img h1 {
  z-index: 20;
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

.header-img h1 span {
  color: #cfa671;
}

/* ######################################## 
      Diaporama
 ############################################ */

.diaporama .slide-wrapper:hover {
  animation-play-state: paused;
}

.diaporama #slideshow {
  overflow: hidden;
  height: 510px;
  width: 100%;
  background-color: #000;
}

/* Style each of the sides
with a fixed width and height */

.diaporama .slide {
  float: left;
  height: 510px;
  width: 25%;
  position: relative;
}

.diaporama .slide-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Add animation to the slides */

.diaporama .slide-wrapper {
  /* Calculate the total width on the
basis of number of slides */
  width: 400%;
  margin: auto;
  /* Specify the animation with the
duration and speed */

  animation: slide 10s ease infinite;
}

/* Set the background color
of each of the slides */
/*  */

@keyframes slide {
  /* Calculate the margin-left for
each of the slides */
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-25%);
  }
  66% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-75%);
  }
}

.events .event-item {
  z-index: 20;
  margin-top: 40px;
}
.events .event-item {
  color: #fff;
}

.events .event-item h3 {
  z-index: 50;
  font-weight: 600;
  font-size: 26px;
  color: #ffb03b;
}

.events .event-item .price {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.events .event-item .price span {
  border-bottom: 2px solid #ffb03b;
}

.events .event-item ul {
  list-style: none;
  padding: 0;
}

.events .event-item ul li {
  padding-bottom: 10px;
}

.events .event-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #ffb03b;
}

.events .event-item p:last-child {
  margin-bottom: 0;
}

/* #####################################""
    nurtiton
   ###################################### */  
   .blog-box-inner{
    position: relative;
    margin-bottom: 50px;
    height: 450px;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0);
  }
  
  .blog-box-inner .blog-img-box{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  .blog-box-inner .blog-img-box .img-fluid{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  
  .blog-box-inner .blog-detail{
    position: absolute;
    top: 0;
    background-color: #FFF;
    width: 100%;
    padding: 30px 25px;
    border: 1px solid #ddd;
    transition-duration: .5s;
    height: 450px;
  }

  .blog-detail .border {
    width: 100%;
    height: 2px;
    background-color: #cfa671;
    margin-bottom: 10px;
  }
  
  .blog-detail h4 {
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 1.1;
      color: #5f5950;
  }
  .blog-detail h5 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.1;
    color: #cfa671;
}
  .blog-detail h6 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.1;
    color: #000;
}

  .blog-detail ul li {
      display: inline-block;
      padding: 0px 5px;
  }
  .blog-detail ul li span{
    color: #d0a772;
    cursor: pointer;
  }
  .blog-detail ul li span:hover{
    color: #010101;
  }
  
  .blog-detail ul li:first-child {
      padding-left: 0px;
  }
  
  .blog-detail p {
      padding: 10px 0px 0 0;
    margin: 0px;
  }
  
  .blog-detail a{
    color: #d0a772;
    margin-top: 20px;
  }
  
  .blog-box-inner .blog-detail:hover{
    background: rgba(255, 255, 255, .8);
  }
  .btn-outline-new-white {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #cfa671;
}
.btn-outline-new-white:hover {
    color: #ffffff;
    background-color: #cfa671;
    border-color: #cfa671;
}

.blog-box-inner .recette-calorie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 8px 10px;
  border-radius: 0.2rem;
  background-color: #cfa671;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.1;
  font-weight: 500;
}

.vitamine-items{
  display: flex;
  flex-wrap: wrap;
}
.vitamine-item {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid #5f5950;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #5f5950;
  letter-spacing: 1.1;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 10px;
}

.mineral-items {
  display: flex;
  flex-wrap: wrap;
}

.mineral-item {
  background-color: #cfa671AA;
  border-radius: 30px;
  font-size: 8px;
  color: #FFF;
  letter-spacing: 1.1;
  font-weight: 500;
  padding: 5px 5px; 
  padding-bottom: 15px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.mineral-sign {
  background-color: #FFF;
  margin: auto;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #5f5950;
  letter-spacing: 1.1;
  font-weight: 500;
  margin-bottom: 10px;
}

/*##############################
      auto complete input 
 #################################*/

.autocomplete-container ,.search-recette{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
padding: 0px 30px;
}

.autocomplete {
  position: relative;
  display: inline-block;
}


.autocomplete-container input[type=text] {
  padding: 10px;
  font-size: 16px;
  background-color: #FFF;
  border: 1px solid #00000055;
  border-radius: 0.3rem;
  width: 100%;
}
.autocomplete-container input[type=text]:focus{
  outline: none;
	border: 1px solid #d0a772;
	box-shadow: none;
}




.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.submit {
  margin-left: 30px;
  background-color: #d0a772;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  padding: 0 10px;
  float: left;
  width: 200px;
border: none;
cursor: pointer;
border-radius: 0.1rem;
transition: all 0.3s ease-in-out;
}
.submit:hover{
background: #FFF;
color: #cfa671;
border: 2px solid #d0a772;
}

/*------------------------------------------------------------------
    INGREDIENT LIST 
-------------------------------------------------------------------*/

.ingredient-select {
  padding: 20px 5%;
  display: flex;
  flex-wrap: wrap;
}

.ingredient-item {
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
  width: 25%;
}

.ingredient-select .ingredient-item {
  border-left: 3px solid #cfa671;
}

.ingredient-item div {
  min-width: 25px;
  height: 25px;
  background-color: #fff;
  border: 2px solid #5f5950;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-left: 15px;
}
.ingredient-item div span {
  color: #5f5950;
  font-size: 12px;
  font-weight: 600;
}

.ingredient-item h5 {
  font-size: 14px;
  color: #000000aa;
  letter-spacing: 1.1;
  font-weight: 500;
  line-height: 25px;
  margin-left: 15px;
}


/* ####################
        searchBar
  ##################### */

  .addForm{
    width: 100%;
    padding: 30px;
    background: #fff;
  }
  .addForm .form-group {
    padding-bottom: 8px;
  }
  .addForm input,
  .addForm textarea ,.addForm select {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  .addForm input:focus , .addForm textarea:focus ,  .addForm select:focus{
    outline: none;
    border: 2px solid #cfa671;
    box-shadow: none;
  }
  .addForm input {
    height: 44px;
  }
  
  .addForm button[type=submit] {
    background: #cfa671;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 10px;
  }
  
  .addForm button[type=submit]:hover {
    background: #FFF;
    color: #cfa671;
    border: 2px solid #cfa671;
  }  


  /* ##############################
              Profile 
     ##############################*/

     .profile {
      padding: 10px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
     }
     .profile-img {
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
      border-radius: 100%;
      border: 4px solid #fff;
      overflow: hidden;
      margin-bottom: 20px;
    }
    .profile-img img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      border-radius: 10rem;
      transition: all ease-in-out 0.4s;
    }
    .profile-img img:hover {
      transform: scale(1.2);
    }

    .addForm input,
.addForm textarea ,.addForm select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.profile input {
  height: 44px;
}

.profile textarea {

  padding: 10px 12px;
}

.profile input:focus , .profile textarea:focus ,  .profile select:focus{
  outline: none;
  border: 2px solid #cfa671;
  box-shadow: none;
}

.profile button[type=submit] {
  background: #cfa671;
  border: 0;
  color: #fff;
  transition: 0.4s;
  border-radius: 10px;
}

.profile button[type=submit]:hover {
  background: #FFF;
  color: #cfa671;
  border: 2px solid #cfa671;
}

.profile-info {
  height: 250px;
}